
a{
  text-decoration: none;
  color: $brand-primary;
  &:hover{
    color: darken($brand-primary, 10);
  }
}

a.btn{
  color: $text-color-light;
  border-radius: 4px;
  background-color: $brand-primary;
  color: $white;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid $brand-primary;
  &:hover{
    background-color: darken($brand-primary, 5);
    border: 1px solid darken($brand-primary, 10);
  }
}

a.btn.btn-secondary{
  background-color: rgba(255,255,255,0.2);
  border: 1px solid $white;
  &:hover{
    background-color: rgba(255,255,255,0.4);
  }
}






/*
//----------------------Default Button Styling

.btn{
  color: $text-color-light;
  border-radius: 4px;
  border: 1px solid $brand-primary;
  font-family: $font-body;
  font-weight: 600;
  //font-size: 18px;
  padding: 10px 18px;
  min-width: 200px;
  cursor: pointer;
   transition: all 0.3s ease;
   box-shadow: 0 1px 15px -6px rgba(0,0,0,0.2);

  &:hover{
    box-shadow: 0 7px 15px -6px rgba(0,0,0,0.5);
    text-decoration: none;
  }



  &.btn-primary{
    background-color: $brand-primary;
    color: $white;
    &:hover{
        background-color: lighten($brand-primary, 2);
    }
  }
}

*/
