//----------------------default card styles
.card-container a:hover{
  text-decoration: none;
}


.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: $site-max-width + 30;
  padding: 64px 15px 0;
  margin: 0 auto;
}

.card-container{
    > a{
    position: relative;
    padding: 25px;
    color: $text-color-secondary;
    border: 1px solid $border-color;
    //box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 8px;
    //width: 200px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-bottom: 80px;
    &.primary{
      background-color: $brand-primary;
      color: $white;
    }
    .icn{
      height: 40px;
    }
    h5{
      padding-top: 15px;
    }
    a:not(.btn){
      padding-top: 20px;
      font-size: 14px;
      color: $brand-primary;
      font-weight: 600;
    }

    a.btn{
      position: absolute;
      bottom: 0;
      margin: 0 0 15px;

      &:hover{
        box-shadow: none;
        background-color: $brand-primary;
      }
    }
    &.mostpopular{
      border-radius: 0 0 8px 8px;
      &:before{
        content:'most popular';
        background-color: $brand-active;
        position: absolute;
        width: 100%;
        top: 0;
        margin-top: -33px;
        color: white;
        border-radius: 8px 8px 0 0;
        padding-bottom: 4px;
        padding-top: 4px;
        border: 1px solid $brand-active;
        font-weight: 600;
      }
    }
    &:hover{
      background-color: $brand-primary-hover;
    }
  }
}


.card-container.card-container-homepage{
  padding-top: 10px;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: 200px;
    top: 25px;

    border-left: 1px dashed rgba($white, 0.25);
    //border-left: 5px dashed red;
    height: 170px;
  }
  > a{
    //background-color: white;
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 25px;
    border: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);

    .icn{
      margin-top: 35px;
    }

    h6{
      padding-top: 15px;
    }
    &:hover{
      transform: scale(1.05);
    }
  }
}

.card-container.card-container-choicelink{
  >a{
    padding-bottom: 25px;
  }
}

.card-container.card-container-treatments{
  min-width: 1130px;
  > a{
    width: 200px;
  }

}
