html{
  width: 100%;
  body{
    min-width: 100%;
    margin: 0;
    position: absolute;
  }
}

.displaynone{
  display: none !important;
}

.section-cardselection{
  padding: 64px 32px;
}

.section-info{
  padding: 64px 32px;
  .content{
    width: 100%;
    @media (min-width: 768px) {
      width: 50%;
      max-width:480px;
    }
  }
}

.section-info-dual{
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {flex-direction: row;}
  .info-container{
    padding: 64px;
    @media (min-width: 768px) {
      width: 66.66%;
    }
  }
  .info-container:nth-child(2){
    background-color: rgba(0,0,0,0.2);
    @media (min-width: 768px) {
      width: 33.33%;
    }
  }
  .info-container .content{
    @media (min-width: 768px) {
      max-width: 480px;
    }
  }
}


.section-treatmentcontainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: 992px) {
    flex-direction: row;
  }
  .treatment{
    padding: 32px;
    @media (min-width: 992px) {
      width: calc(50% - 64px);
    }
  }
  .content{
    width: 100%;
    display: flex;
    @media (min-width: 992px) {}
    .description{
      width: calc(60% - 16px);
      flex-shrink: 0;
      padding-right: 16px;
    }
    .tags{
      border-left: 1px solid $border-color;
      padding-left: 16px;
      width: calc(40% - 16px);
      flex-shrink: 0;
    }
  }


  .treatment:nth-child(4n+1){
    background-color: $hk-bgc-light-1;
  }
  .treatment:nth-child(4n+2){
    background-color: $hk-bgc-light-2;
  }
  .treatment:nth-child(4n+3){
    background-color: $hk-bgc-light-3;
  }
  .treatment:nth-child(4n+4){
    background-color: $hk-bgc-light-4;
  }
}


.section-image-right, .section-image-left{
  display: flex;
  flex-direction: row-reverse;
  padding: 32px 32px;
  .content{
    width: 100%;
    @media (min-width: 768px) {
      width: 50%;
      max-width:480px;
    }
    h1{
      margin-bottom: 32px;
    }
  }
}

.section-image-left{
  flex-direction: row;
}


.colorscheme-purple, .colorscheme-dark{
  color: $white;
  a{
    color: $brand-primary;
  }
}

.colorscheme-purple{
  background-color: $brand-active;
}

.colorscheme-dark{
  background-color: $footer-bg-color;
}

.colorscheme-image{
  color: $white;
}


.stat-row{
  //background-color: red;
  display: flex;
  margin-top: 32px;
  .stat{
    width: 100%;
    h3{
      font-size: 20px;
    }
    p{
      font-size: 12px;
    }
  }
  .stat + .stat{
    margin-left: 32px;
  }
}







//----------------------Content


.main-homepage{
  //padding: 140px 0;
  //height: 40vh;
  // min-height: 400px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.page-intro{
  //display: flex;
  //justify-content: center;
  //text-align: center;
  p{
    //padding: 64px 15px 0;
    //max-width: 500px;
  }
}









// infopage

.info-page{
  //padding-top: 60px;
  //padding-bottom: 180px;
  .item-wrap{
    //max-width: $site-max-width;
    //margin: 0 auto;
    .item{
      //max-width: 500px;
    }
    & + .item-wrap{
      //background-color: $brand-light-bg;
    }
  }
}


/*
// Section Theming
@mixin baseSection {
  padding-top: 60px;
  padding-bottom:75px;
}



.section {
  @include baseSection();
  h2 {
    padding-top: 60px;
  }
}

.section > .section-content{
  max-width: $site-max-width + 30;
    margin: 0 auto;
}

.section-center {
  @include baseSection();
  text-align: center;
}

.section-purple {
  background-color: $brand-active;
  h2 {
    color: $white;
  }
}

.section-lightpurple {
  background-color: $hk-purple-light;
  h2 {
    color: $brand-active;
  }
  h5 {
    color: $brand-primary;
  }
}

.section-dark{
  background-color: darken($brand-active, 2);
  color: $white;
  h5{
    color: $white;
  }
}


.section-icnbar{
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //display: none;
  p{
    display: inline-block;
    margin: 0 15px;
  }

  a{
    padding: 0;
    margin: 0;
    line-height: 0;
    img{
      margin: 0 40px;
      max-height: 32px;
      opacity: .4;
    }
    &:hover{
      img{
        opacity: 1;
      }
    }
  }
}

.bgc-kitti, .bgc-mary, .bgc-jason{
    background-color: white;
    color: $white;
    P{
      padding: 10px 0;
    }
    .section-content{
      //background-color: red;
    }
}

.section.text-right, .section.text-left{
  position: relative;
  padding: 0;
  &:before{
    content: "";
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  > div > div{
    // background-color: blue;
    width: 50%;
    max-width: 500px;
    left: 50%;
    position: relative;
    padding: 30px 15px;



  }
}

.section.section.text-left{
  &:before{
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
  }
  > div > div{
    left: 0px;
  }
}

*/
