// Section Theming
@mixin baseSection {
  padding-top: 60px;
  padding-bottom:75px;
}

.section {
  @include baseSection();
  h2 {
    padding-top: 60px;
  }
}

.section-center {
  @include baseSection();
  text-align: center;
}

.section-purple {
  background-color: $brand-active;
  h2 {
    color: $white;
  }
}

.section-lightpurple {
  background-color: $hk-purple-light;
  h2 {
    color: $brand-active;
  }
  h5 {
    color: $brand-primary;
  }
}
