// Section Theming
@mixin baseSection {
  padding-top: 60px;
  padding-bottom:75px;
}



.section {
  @include baseSection();
  h2 {
    padding-top: 60px;
  }
}

.section > .section-content{
  max-width: $site-max-width + 30;
    margin: 0 auto;
}

.section-center {
  @include baseSection();
  text-align: center;
}

.section-purple {
  background-color: $brand-active;
  h2 {
    color: $white;
  }
}

.section-lightpurple {
  background-color: $hk-purple-light;
  h2 {
    color: $brand-active;
  }
  h5 {
    color: $brand-primary;
  }
}

.section-dark{
  background-color: darken($brand-active, 2);
  color: $white;
  h5{
    color: $white;
  }
}


.section-icnbar{
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //display: none;
  p{
    display: inline-block;
    margin: 0 15px;
  }

  a{
    padding: 0;
    margin: 0;
    line-height: 0;
    img{
      margin: 0 40px;
      max-height: 32px;
      opacity: .4;
    }
    &:hover{
      img{
        opacity: 1;
      }
    }
  }
}

.bgc-kitti, .bgc-mary, .bgc-jason{
    background-color: white;
    color: $white;
    P{
      padding-top: 20px;
    }
    .section-content{
      //background-color: red;
    }
}

.section.text-right, .section.text-left{
  position: relative;
  padding: 0;
  &:before{
    content: "1";
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
    //background-color: rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  > div > div{
    // background-color: blue;
    width: 50%;
    max-width: 600px;
    left: 50%;
    position: relative;
    padding: 0px 15px 20px;



  }
}

.section.section.text-left{
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
  > div > div{
    left: 0px;
  }
}
