// Section Theming

.section-center{
  padding-top: 60px;
  padding-bottom: 180px;
  text-align: center;
  h2{
    padding-top: 60px;
  }
}

.section-purple{
  background-color: $brand-active;
  h2{
    color: $white;
  }
}

.section-lightpurple{
  background-color: $hk-purple-light;
  h2{
    color: $brand-active;
  }
  h5{
    color: $brand-primary;
  }
}
