
.footer-wrap{
  padding: 20px 16px;
  width: calc(100% - 32px);
  .content{
    display: flex;
    flex-direction: column;
    .col{
      width: 100%;
      padding: 20px 0;
      a{
        display: block;
      }
    }
    @media (min-width: 768px) {
      flex-direction: row;
      .col{
        width: 25%;
        padding: 20px 0;
      }
    }
  }
}
