


.section-header, .section-closer{
  background-color: $brand-active;
  color: $white;

  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px;

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
      margin-bottom: 32px;
    }
  }
}

.page-homepage.section-header, .section-closer{
  min-height: 580px;
}

.page-homepage.section-header{
    .content{
      align-items: flex-start;
      text-align: left;
    }
}
