//----------------------TopNav


.topnav{
  background-color: $topnav-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding-right: 15px;
  padding-left: 15px;
  a{
    color: $text-color-light;
    margin: 0 15px
  }

  .topnav-left{
    a{
      color: $hk-yellow;
    }
  }
  .active { 
    color: black;
    background-color: white;
  }
}
