body{
  font-family: $font-body;
  color: $text-color;
}

h1,h2,h3{
  font-family: $font-header;
}
h4,h5,h6{
  font-family: $font-body;
}

h1,h2,h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
}

h1{
  font-size: 48px;
  font-weight: normal;
  line-height: 64px;
  @media (min-width: 768px) {
    font-size: 64px;
  }
  .text-sm{
    font-size: 20px;
    display: block;
  }
}

h2{
  font-size: 40px;
  font-weight: normal;
}
h3{
  font-size: 24px;
  font-weight: bold;
}
h4{
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

h5{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}

p{
  font-size: 16px;
  line-height: 24px;
  display: block;
  padding-bottom: 24px;
}

h4+p{
  padding-top: 8px;
}

p+p{
  //padding-top: 24px;
}
p+a{
  //padding-top: 24px;
  //display: block;
  flex-grow: 0;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  //text-shadow: 0 -1px -1px rgba(255,255,255,0.5);
}

ul+h5{
  padding-top: 32px;
}

a + h4{
  padding-top: 32px;
}

//tables


/*

//----------------------padding/margin reset
*{
  margin: 0;
  padding: 0;
}

//----------------------Default Fontstyles
h1,h2,h3,h4,{
  padding: 0;
  margin: 0;
  font-family: $font-header;
}

h1{
  //font-family:
  font-size: 64px;
}

h2{
  //font-family:
  font-size: 40px;
  font-weight: 600;
}

h3{
font-size: 18px;
}

h5{
  font-weight: 600;
  font-size: 16px;
}

h6{
  font-weight: 600;
  font-size: 14px;
}

body{
  font-family: $font-body;
}

p, h5, a{
  line-height: 160%;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
h2 + p{
  padding-top: 16px
}

p + button{
  margin-top: 30px;
}

*/
