@import 'variables';
@import 'typography';
@import 'topnav';
@import 'header';
@import 'footer';
@import 'defaulttheming';
@import 'button';
@import 'card-container';
@import 'accordion';









.certifications, .clients{
  background-color: $brand-dark-bg;
  padding: 20px 15px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  h5{
    color: $white;
  }
  .logo-wrap{
    display: flex;
    justify-content: center;
    opacity: 1;
    img{
      margin: 0 40px;
      height: 80px;
    }
  }
}



//----------------------Content

.page-intro{
  display: flex;
  justify-content: center;
  text-align: center;
  p{
    padding: 64px 15px 0;
    max-width: 500px;
  }
}









// infopage

.info-page{
  padding-top: 60px;
  padding-bottom: 180px;
  .item-wrap{
    max-width: $site-max-width;
    margin: 0 auto;
    .item{
      max-width: 500px;
    }
    & + .item-wrap{
      background-color: $brand-light-bg;
    }
  }
}
