

//----------------------Brand Colors

$hk-purple:             #4F3772;
$hk-purple-alternative: #4F3873;
$hk-purple-light:       #F3EBFF;
$hk-green:              #4AA52D;
$hk-yellow:             #F9EF77;
$hk-black:              #2A292D;
$hk-black-different:    #28272A;
$hk-cardfont:           #7E7E7E;
$hk-cardborder:         #D8D8D8;
$white:                 #fff;


//---------------------- Variables

$brand-primary:         $hk-green;
$brand-danger:          red;
$brand-warning:         orange;
$brand-success:         green;
$brand-info:            blue;
$brand-active:          $hk-purple;
$brand-inactive:        grey;

$text-color:            $hk-black;
$text-color-secondary:  lighten($hk-black, 20);
$text-color-light:      white; //Used on a dark background

$link-color:            $brand-info;

$topnav-bg-color:       $hk-black-different;
$footer-bg-color:       $hk-black-different;
$brand-dark-bg:         darken($hk-purple, 15);
$brand-light-bg:        $hk-purple-light;

$border-color:          $hk-cardborder;

$brand-primary-hover:   lighten($brand-primary, 52);

$site-max-width:        1060px;

//<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:400,600&display=swap" rel="stylesheet">
$font-header:           'Montserrat', sans-serif;
$font-body:             'Open Sans', sans-serif;



//----------------------padding/margin reset
*{
  margin: 0;
  padding: 0;
}

//----------------------Default Fontstyles
h1,h2,h3,h4,{
  padding: 0;
  margin: 0;
  font-family: $font-header;
}

h1{
  //font-family:
  font-size: 64px;
}

h2{
  //font-family:
  font-size: 40px;
  font-weight: 600;
}

h3{

}

h5{
  font-weight: 600;
  font-size: 16px;
}

h6{
  font-weight: 600;
  font-size: 14px;
}

body{
  font-family: $font-body;
}

p, h5, a{
  line-height: 160%;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
h2 + p{
  padding-top: 16px
}

p + button{
  margin-top: 30px;
}
//----------------------Default Button Styling

.btn{
  color: $text-color-light;
  border-radius: 4px;
  border: 1px solid $brand-primary;
  font-family: $font-body;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  min-width: 200px;
  cursor: pointer;
   transition: all 0.3s ease;
   box-shadow: 0 1px 15px -6px rgba(0,0,0,0.2);

  &:hover{
    box-shadow: 0 7px 15px -6px rgba(0,0,0,0.5);
  }



  &.btn-primary{
    background-color: $brand-primary;
    &:hover{
        background-color: lighten($brand-primary, 2);
    }
  }
}

//----------------------TopNav


.topnav{
  background-color: $topnav-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding-right: 15px;
  padding-left: 15px;
  p{
    color: $hk-yellow;
  }
  a{
    color: $text-color-light;
  }
  a+a{
    padding-left: 30px;
  }
}


//----------------------Header

.certifications, .clients{
  background-color: $brand-dark-bg;
  padding: 20px 15px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  h5{
    color: $white;
  }
  .logo-wrap{
    display: flex;
    justify-content: center;
    opacity: 1;
    img{
      margin: 0 40px;
      height: 80px;
    }
  }
}

.header{
  background-color: $hk-purple;
  color: $text-color-light;
  min-height: 400px;
  height: 50vh;
  max-height: 400px;
  display: flex;
  padding: 0 15px;
  //flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  .headercontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .icn{
    height: 48px;
  }
  a{
    color: $text-color-light;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-header;
    padding-top: 20px;
  }
  h1{
    padding-top: 40px;
  }
  a + h1{
    padding-top: 0px;
  }
  .btn{
    margin-top: 20px;
  }
}


.header.header-homepage{
  background-color: $hk-purple;
  background-image: url('img/homepage-header-bg.png');
  background-size: cover;
  display: flex;
  //flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  .headercontent{
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }

  h3{

  }
  h1{
    padding-top: 0px;
    text-align: left;
  }
}

//----------------------Content

.page-intro{
  display: flex;
  justify-content: center;
  text-align: center;
  p{
    padding: 64px 15px 0;
    max-width: 500px;
  }
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: $site-max-width + 30;
  padding: 64px 15px 0;
  margin: 0 auto;
  .card{
    padding: 25px;
    color: $text-color-secondary;
    border: 1px solid $border-color;
    //box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      background-color: $brand-primary-hover;
      box-shadow: 0px 6px 15px -6px rgba(0, 0, 0, 0.25);
      a{
        text-decoration: underline;
      }
    }

    .icn{
      height: 40px;
    }

    h5{
      padding-top: 15px;
    }
    a{
      padding-top: 20px;
      font-size: 14px;
      color: $brand-primary;
      font-weight: 600;
    }
  }
}

.main-homepage{
  background-color: $brand-active;
  padding-top: 60px;
  padding-bottom: 180px;
  h2{
    padding-top: 60px;
    text-align: center;
    color: white;
  }
  .card-container.card-container-homepage{
    padding-top: 10px;
      .card{
        background-color: white;
        width: 150px;
        height: 150px;
        padding: 0;
        margin: 25px;
        border: none;
        box-shadow: 0 10px 30px rgba(0,0,0,0.25);
        position: relative;

        &:nth-child(4):before{
          content: "";
          position: absolute;
          left: 0;
          top: -10px;

          margin-left: -25px;
          border-left: 1px dashed rgba($white, 0.75);
          height: 170px;
        }

        &:hover{
          background-color: $brand-primary-hover;
          transform: scale(1.05);
        }


        .icn{
          margin-top: 35px;
          height: 40px;
        }

        h6{
          padding-top: 15px;
        }
      }
  }
}






.accordion-wrap{
  margin: 0 auto;
  max-width: $site-max-width;
  //background-color: red;

  h5{
    color: $brand-primary;
    border-bottom: 1px solid $border-color;
    padding-top: 10px;
    padding-bottom: 10px;
    &:before{
      content:'+';
      padding-right: 10px;
    }
    &:hover{
        color: $brand-active;
        cursor: pointer;
    }
  }
  .accordion-content{
    display: none;
    padding-left: 15px;
    padding-right: 15px;

    >.accordion-wrap{
      > .accordion-content{
        display: none;
      }
    }





  }
}




.accordion-wrap.open{

  > .accordion-header > h5{
    color: $brand-active;
    &:before{
      content:'-';
      padding-right: 12px;
    }
  }

  > .accordion-content{
    display: block;

    >.accordion-wrap.open{
      > .accordion-content{
        background-color: $brand-light-bg;
        display: block;
        padding: 30px 15px;
        text-align: center;

        p{
          margin: 0 auto;
          max-width: 500px;
        }
        h2{
          color: $brand-active
        }
      }
    }
  }
}




.info-page{
  padding-top: 60px;
  padding-bottom: 180px;
  .item-wrap{
    max-width: $site-max-width;
    margin: 0 auto;
    .item{
      max-width: 500px;
    }
    & + .item-wrap{
      background-color: $brand-light-bg;
    }
  }
}

.footer-wrap{
  background-color: $footer-bg-color;
  color: $brand-primary;
  padding: 40px 15px;
  .col-wrap{
    //background-color: red;
    max-width: $site-max-width;
    margin: 0 auto;
    display: flex;
    .col{
      //background-color: blue;
      width: 25%;
      a{
        display: block;
        color: $brand-primary;
      }
      p{
        color: $white;
      }
    }

  }
}
